.post {
    border: solid;
    margin: 10px;

}

.owner {
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

.text {
    text-align: left;
    margin: 10px;
}

.like {
    margin:10px;
    padding:5px;
}

.com {
    margin: 10px;
}

.date {
    margin: 10px;
}

#new_post {
    margin: 10px;
}

.edit{
    margin:10px;
}

.foll{
    margin: 10px;
}

h1{
    margin:10px;
}

p{
    margin:10px;
}
