{% extends "network/layout.html" %}
{% load static %}

{% block imports %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}

{% block body %}
    <i id="aa" style="font-size: 1.8rem;" class="bi-hand-thumbs-down"></i>
    <div id="new_post">
        <form id="new_post">
            <h3> New Posts </h3>
            <input id="new_post-text" type="text">
            <input id="asd" type="button" value="Post">
        </form>
    </div>
    <div id="all_posts">
        
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li id="previous" class="page-item"><button class="page-link">Previous</button></li>
            <li id="next" class="page-item"><button class="page-link" >Next</button></li>
        </ul>
    </nav>
{% endblock %}