{% extends "network/layout.html" %}
{% load static %}

{% block imports %}
    <script src="{% static 'network/script.js' %}"></script>
    <script src="{% static 'network/user.js' %}"></script>
{% endblock %}



{% block body %}
    <div id="user_id" style="display: none">{{ id }}</div>
    <h1>{{ username }}</h1>
    <p>Followers: {{ followers }}</p>
    <p>Following: {{ following }}</p>
    <form method="post" action="{{ user_id }}">
    {% csrf_token %}
    {% if not follow %}
        <input name="follow" type="hidden" value="follow">
        <input type="submit" class="foll btn btn-success" value="Follow">
    {% else %}
        <input name="follow" type="hidden" value="unfollow">
        <input type="submit" class="foll btn btn-danger" value="Unfollow">
    {% endif %}</form>
    <h2>Posts:</h2>

    <div id="all_posts"></div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li id="previous" class="page-item"><button class="page-link">Previous</button></li>
            <li id="next" class="page-item"><button class="page-link" >Next</button></li>
        </ul>
    </nav>
{% endblock %}
